@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {

  --color-background: #58004B;
  --color-background-light: #6A1A5D;
  --color-background-grey: #F0F0F0;


  --color-text-dark-gray: #676162;
  --color-text-gray: #D9D9D9;
  --color-input-text: #A9A4A5;


  --color-pink: #FFB6E6;




  --font-space: "Space-Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
}