@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {

  --color-background: #58004B;
  --color-background-light: #6A1A5D;
  --color-background-grey: #F0F0F0;
--color-pink: #FFB6E6;
--color-light-pink: #F7DEF3;


  --color-text-dark-gray: #676162;
  --color-text-gray: #D9D9D9;
  --color-input-text: #A9A4A5;

  --color-green: #22D322;
  --color-yellow: #FFDF17;
--color-red: #EA3B37;




  
  --shadow-pink-glow: 5px 4px 5px var(--color-background-light);




  --font-space: "Space-Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
}